body {
    font-family: Arial;
    background: #f7f7f7;
    padding: 20px;
}

.container {
    max-width: 750px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    background: #4a63ff;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
